<!DOCTYPE html>
<html lang="fr" itemscope itemtype="http://schema.org/WebPage">
<head>
  @@include('./partials/head.tpl.html', {
  "meta_title": "Adrien Martinet",
  "meta_desc": "Adrien Martinet, co-fondateur et fullstack developer de 20 degés à l'ombre. Freelance ront-end et backend."
})
</head>
<body role="document">


  <!-- Left Pannel -->
  <section id="left-pannel">
    <header>
      <figure>
        <img src="images/logo.png" alt="Logo Adrien Martinet" width="100">
      </figure>
    </header>
    <div class="profil-content">
      <div class="profil">
        <figure>
          <img src="images/amt.png" alt="Adrien Martinet" width="54">
        </figure>
        <h1>Adrien Martinet</h1>
        <p>
          Fullstack Developer
        </p>
      </div>
    </div>
    <nav role="navigation">
      <ul>
        <li>
          <a href="index.html" class="btn material flat big link active">
            <i class="icon-reply"></i>
            Retour à l'accueil
          </a>
        </li>
      </ul>
    </nav>
    <div class="follow">
      <p>
        Retrouvez-moi sur
      </p>
      <ul>
        <li>
          <a href="https://twitter.com/_Adrien_M"><span class="icon-twitter"></span></a>
        </li>
        <li>
          <a href="https://plus.google.com/u/0/+AdrienMartinet/posts"><span class="icon-googleplus"></span></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/adrienmartinet"><span class="icon-linkedin"></span></a>
        </li>
      </ul>
    </div>
  </section>



  <!-- Main Pannel -->
  <section id="main-pannel" role="main">
    
    <div id="lab">
      
      <div class="cell">
        
        <h2>Lab</h2> 

        <p>
          Voici quelques exemples de mes dernières expérimentations :
        </p>

        <div id="experiments"></div>

      </div>

    </div>
    

</section><!-- Main Pannel -->


<script src="js/main.js"></script>
</body>
</html>
